*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #85bddc;
}
h1{
    color: rgb(15, 15, 15);
    text-align: center;
    margin-top: 20px;
}
p{
    color: rgb(10, 10, 10);
    font-size: 18px;
    margin: 20px;
    text-align: justify;
}
#caja1{
    background-color: #d9f0ff;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}
